# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=7f705f20-f160-4be9-8ed7-7fb0766b0e84

    # Set to true to disable all reporting
    B:opt-out=false
}


